<!-- <!DOCTYPE html>
<html lang="en">
<head>

	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/style.css"/> -->


<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
<!-- 
</head> -->

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Hero section start -->
	<section class="hero-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<div class="col-lg-6">
							<div class="hero-text" style="margin-top: 10%;">
								<h2>Binh-Huy Do</h2>
								<p>An Information System junior who has special interests in self-improvement, human
									nonverbals, reading and dogs.</p>
							</div>
							<div class="hero-info" style="margin-top: 20%;">
								<h2>General Info</h2>
								<ul>
									<li><span>Date of Birth</span>Jun 30, 1999</li>
									<li><span>Address</span>16743 Route 66, Rail Heaven, Springfield, US</li>
									<li><span>E-mail</span>lorem@ipsum.com</li>
									<li><span>Phone </span>+84 22 3344 6868</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2"></div>
						<div class="col-lg-4" style="margin-top: 5%; max-width:200px; height:auto;">
							<figure class=" hero-image">
								<img src="img/PRF.jpg" alt="5" style="height: 518; width: auto;">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Social links section start -->
	<div class="social-section" style="margin-top: 5%;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="social-link-warp">
						<div class="social-links">
							<a href="https://www.linkedin.com/in/huy-binh-49985a153"><i class="fa fa-linkedin"></i></a>
							<a href="https://www.instagram.com/bhuy3069"><i class="fa fa-instagram"></i></a>
							<a href="https://www.facebook.com/huydb30.699"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/huynhox32"><i class="fa fa-twitter"></i></a>
						</div>
						<h2 class="hidden-md hidden-sm">My Social Profiles</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Social links section end -->